Hi, #{@player.nickname}!
%br
%br
Your registration was successfully created!
%br
From now, you can freely use Sportify!
%br
%br
Our Email-Services provider will send you an email for authorization, so that Sportify can notify you via email.
%br
This process might take up to 3 days, but don't worry; you can still use all the Sportify awsome features, except the Email Notification one.
%br
%br
= render partial: 'layouts/email_signature'
