.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Join this Game
    = render 'form'
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font TODO: refactor this
