.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1 Hello, Sasa!
    %h2 Tu esti tata lor aici.
    %h3 Do your best to bring more people to sport & connect them!
    = link_to 'Test Admin Mailer', test_mailer_sportify_admin_path, class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
