%h1.title Bachelor's Degree - Sasaran Andrei 30645
%br
- if current_user
  %h3 Hello!
  %br
  = link_to fa_icon('shopping-cart 4x'), sportify_coins_shop_path
  BUY SPORTIFY COINS!

-# .some-div{style: 'background-color: red; width: 100px; height: 100px; border-radius: 5vh'}
