%h1.title-class Bachelor's Degree - Sasaran Andrei 30645

= button_to 'Button', '#', class: 'btn btn-warning', method: 'get'

= link_to fa_icon('camera-retro'), '#'
-# = link_to fa_icon('camera-retro'), '#'

.table-responsive
  %table.table.table-striped.table-light
    %thead
      %tr
        %th Name
        %th Email
        %th Address
        %th Birth Date
    %tbody
      %tr
        %td Sosy
        %td sosy@gmail.com
        %td Eroilor 95
        %td 28.09.1999
      %tr
        %td Sosy2
        %td sosy2@gmail.com
        %td Eroilor 97
        %td 28.09.1998
