.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font nuk daca o sa mai folosesc asta deocamandata
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font ceva
