.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font Approve Join Requests
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Altceva, inca nuj ce
