.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    O poza / Orar-u fieldului 
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1 New Reservation
    %br
    %br
    %br
    = render 'form'
