.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Checkout

    %h3.sportify-font= "Your order: #{@order_amount} Sporty COINS"
    %br
    %p
      If you would like to change the order amount, click
      = link_to 'here', sportify_coins_shop_path
    %br
    = render partial: 'pay/stripe/checkout_button', locals: { session: @checkout_session, title: 'Stripe Checkout' }
