// DEPENDENCIES
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');

// CONTROLLERS
@import "pages";
@import "arenas";

// OTHER
@import "variables";

.sportify-font {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.sportify-navbar {
  position: fixed;
  width: 96%;
  top: -1vh;
  left: 0;
  padding: 4vh;
  margin: 3vh;
  display: flex;
  justify-content: space-between;

  .panel {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }
}

.sportify-radius-panel {
  border-radius: 5vh;
}
