// DEPENDENCIES
@import "bootstrap";
@import "font-awesome";

// CONTROLLERS
@import "pages";

// OTHER
@import "variables";

.c-map {
  width: 100%;
  height: 98vw;
  max-height: 420px;
  margin-top: -10px;
}
