// DEPENDENCIES
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');

// OTHER
@import "variables";

// CONTROLLERS
@import "checkouts";
@import "pages";
@import "arenas";
@import "fields";
@import "sports";
@import "reservations";
@import "players";
@import "join_requests";

.sportify-font {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.sportify-label {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: larger;
}

.sportify-navbar {
  position: absolute;
  width: 96%;
  top: -1vh;
  left: 0;
  padding: 4vh;
  margin: 3vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .panel {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }
}

.sportify-radius {
  border-radius: 5vh;
}

.sportify-page {
  position: absolute;
  top: 220px;
  bottom: 100px;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sportify-footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  overflow: hidden;
}

.sportify-footer-navbar {
  position: absolute;
  height: 100px;
  width: 96%;
  bottom: -1vh;
  left: 0;
  padding: 6vh;
  margin: 3vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .panel {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
}

.sportify-panel {
  margin: 2vh;
  border-color: $primary-color;
  padding: 3vh;
  height: fit-content;
}

.sportify-big-panel {
  background-color: $big-panel-background-color;
  width: 60%;
}

.sportify-small-panel {
  background-color: $small-panel-background-color;
  width: 30%;
}

.sportify-product-panel {
  background-color: $primary-color;
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sportify-primary-button {
  background-color: $primary-color;
  color: black;
  padding: 2vh;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.sportify-small-button {
  background-color: $big-panel-background-color;
  color: black;
  padding: 1vh;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.sportify-social-media-button {
  background-color: $primary-color;
  color: black;
  padding: 1vh;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.sportify-radius-panel {
  border-radius: 5vh;
}

.sportify-page {
  position: absolute;
  top: 220px;
  bottom: 100px;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sportify-footer {
  position: absolute;
  bottom: 2vh;
  height: 100px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sportify-panel {
  margin: 2vh;
  border-color: $primary-color;
  padding: 3vh;
}

.sportify-big-panel {
  background-color: $big-panel-background-color;
  width: 60%;

  .buttons-container {  
    display: flex;
    justify-content: space-between;
  }
}

.sportify-small-panel {
  background-color: $small-panel-background-color;
  width: 30%;
}

// change ids of JS-unused buttons with this
.sportify-wide-button {
  width: 100%;
}

.sportify-flash-wraper {
  display: flex;
  top: 0;
}

.sportify-flash {
  background-color: $big-panel-background-color;
  width: 100%;
  z-index: 4;
}

.sportify-close-flashes-button {
  z-index: 4;
  height: 6vh;
  border: none;
}

.sportify-product-image {
  width: 100%;
  height: 75%;
}
