#create-reservation-button {
  width: 100%;
}

.participate-reservation-highlight {
  background-color: #FFFF9B !important;
}

.timetable-slot {
  // height: 50px;
  // width: 80px;
}

.free-slot {
  background-color: $primary-color !important;
}
