$sportify-font: 'IBM Plex Sans Arabic';
$primary-color: #15BA46;
$secondary-color: black;
$background-color: #9ccd9c;
$big-panel-background-color: #7ECE7E;
$small-panel-background-color: #7bc97bca;
$error-notice-background-color: rgb(255, 105, 105);
$own-reservation-background-color: #15BA46;
$guest-reservation-background-color: #FFFF9B;

.background {
  background-color: $background-color;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.primary-background {
  background-color: $primary-color;
  color: black;
}

.error-notice-background {
  background-color: $error-notice-background-color !important;
}
