.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font New Field
    = render 'form'
    %br
    = link_to fa_icon('rotate-left', text: 'Back to Sportify Admin'), sportify_admin_path, class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
