.sportify-footer
  .sportify-panel.sportify-big-panel.sportify-radius
    .contact
      Contact
    .logo
      = link_to image_tag('logos/sportify-logo-navbar.png', size: '500x20'), root_path, class: 'navbar-brand btn fs-1 sportify-font'
