%nav.navbar.navbar-expand-sm.sportify-footer-navbar.primary-background.sportify-radius
  .panel
    .contact
      %h3.sportify-font Contact
    .phone-number
      Phone Number
      %br
      +40 744 179 201
    .email
      Email
      %br
      contact@sportify.com
  .panel
    = link_to image_tag('logos/sportify-logo-navbar.png', size: '300x100'), root_path, class: 'navbar-brand btn fs-1 sportify-font'
  .panel    
    .facebook
      = link_to fa_icon('facebook 2x'), 'https://facebook.com', class: 'btn sportify-social-media-button sportify-radius fs-5'
    .instagram
      = link_to fa_icon('instagram 2x'), 'https://instagram.com', class: 'btn sportify-social-media-button sportify-radius fs-5'
    .youtube
      = link_to fa_icon('youtube 2x'), 'https://youtube.com', class: 'btn sportify-social-media-button sportify-radius fs-5'
    -# .facebook
    -#   = link_to fa_icon('facebook 2x', text: ' .'), 'https://facebook.com', class: 'btn sportify-small-button sportify-radius fs-5'
    -# .instagram
    -#   = link_to fa_icon('instagram 2x'), 'https://instagram.com', class: 'btn sportify-small-button sportify-radius fs-5'
    -# .youtube
    -#   = link_to fa_icon('youtube 2x'), 'https://youtube.com', class: 'btn sportify-small-button sportify-radius fs-5'

-# .sportify-footer
-#   .sportify-panel.sportify-big-panel.sportify-radius
-#     .contact
-#       Contact
-#     .logo
-#       = link_to image_tag('logos/sportify-logo-navbar.png', size: '500x20'), root_path, class: 'navbar-brand btn fs-1 sportify-font'
